/*------------------------------------*\
  COMPONENTS: LINKS-BLOCK
\*------------------------------------*/


/**
 * Links
 * @section
 */

body:not(.u-is-mobile) .c-link-block {
  @include on-event() {
    color: lighten( $brand-color, 10% );
    padding-left: $spacing-unit--xs;
  }
}

.c-link-block {
  display: inline-block;

  padding-left: 0;

  color: $brand-color;

  font-size: $font-size--base;
  line-height: $line-height--base;

  box-shadow: inset 0 (-$spacing-unit--xs) $light-grey;

  transition: all 150ms;

  @include font-weight( medium );
}

body:not(.u-is-mobile) .c-link-block--secondary {
  @include on-event() {
    color: darken($text-color, 10%);
  }
}

.c-link-block--secondary {
  color: $text-color;
}

.c-link-block--alt {
  @include font-weight( light );
}

.c-link-block--sm {
  font-size: $font-size--xs;
  line-height: $line-height--xs;
}

.c-link-block--social {

 /* &[data-provider='facebook'] {
    color: #3b5998; // Static facebook brand color
    @include on-event(){
      color: darken( #3b5998, 10% );
    }

    .c-link-block__icon {
      //TODO: Include SVG icons
      background-image: url( '../assets/icons/fb-f__logo--blue_29.png' );
    }
  }

  &[data-provider='twitter'] {
    color: #1da1f2; // Static Twitter brand color

    @include on-event(){
      color: darken( #1da1f2, 10% );
    }

    .c-link-block__icon {
      //TODO: Include SVG icons
      background-image: url( '../assets/icons/tw-bird__logo--blue_36.png' );
    }
  }*/

}

body:not(.u-is-mobile) .c-link-block--reversed {
  @include on-event() {
    color: darken( $white, 10% );
    padding-left: $spacing-unit--xs;
  }
}

.c-link-block--reversed {
  color: $white;

  box-shadow: inset 0 (-$spacing-unit--xs) $dark-grey;


  /*&[data-provider='instagram'] {
    color: white;
    @include on-event(){
      color: darken( white, 10% );
    }

    .c-link-block__icon {

    }
  }*/
}

.c-link-block__icon {
  display: inline-block;
  width: $sizer-unit--md;
  height: $sizer-unit--md;
  margin-right: $spacing-unit--xs;

  vertical-align: top;

  background-size: $sizer-unit--md;
  background-repeat: no-repeat;
}

.c-link-block__label {
  display: inline-block;
  vertical-align: top;
}
