{#
 # Site footer template
 # -------------------
 #
 #
 #}

<footer class="l-footer">
    <div class="o-wrapper">
        <div class="o-layout">
            <small>
                <div class="o-col-12@xs o-col-6@sm">
                    <p class="u-text-center u-text--left@sm">Graphisme: martincramatte.com</p>
                </div>
                <div class="o-col-12@xs o-col-6@sm">
                    <p class="l-footer__copyright u-text-center u-text--right@sm">{{ siteName }} ©{{ "now"|date("Y") }}</p>
                </div>
            </small>
        </div>
    </div>
</footer>