{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}

{% set title = siteName %}

{% set carousel = entry.carousel.limit(5) %}
{% set entries = craft.entries().section('agenda').limit(10) %}

{% block main %}

	<section class="l-band u-mb--md">
		<div class="o-wrapper">
            <div class="c-carousel__container">
                <div class="c-carousel">
                {% for entry in carousel.all() %}
                    {% set thumbnail = entry.thumbnail.one() %}
                        <a class="u-link-block" href="{{ entry.url }}">
                            <div class="c-carousel__item">
                                <header class="c-carousel__title">
                                    <h1 class="c-heading--lg">{{ entry.title }}</h1>
                                </header>
                                <div class="c-carousel__img">
                                    <figure>
                                        <img src="{{ thumbnail.getUrl() }}" width="{{ thumbnail.getWidth( 'carouselThumbnail' ) }}" height="{{ thumbnail.getHeight( 'carouselThumbnail' ) }}" />
                                    </figure>
                                </div>
                            </div>
                        </a>
                {% endfor %}
                </div>
                <button class="c-carousel__prev">
                    <svg width="23px" height="40px" viewBox="0 0 23 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Cross" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Prev" transform="translate(-1.000000, 0.000000)" stroke="#ffffff" stroke-width="4">
                                <g id="Next" transform="translate(12.000000, 20.000000) scale(-1, 1) translate(-12.000000, -20.000000) translate(2.000000, 2.000000)">
                                    <path d="M0,0 L19.415365,19.4189393" id="Stroke-1"></path>
                                    <path d="M0,36 L19.2353841,16.7646159" id="Stroke-3"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
                <button class="c-carousel__next">
                    <svg width="23px" height="40px" viewBox="0 0 23 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Cross" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Next" stroke="#ffffff" stroke-width="4">
                                <g transform="translate(2.000000, 2.000000)">
                                    <path d="M0,0 L19.415365,19.4189393" id="Stroke-1"></path>
                                    <path d="M0,36 L19.2353841,16.7646159" id="Stroke-3"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
		</div>
	</section>

	<section class="l-section u-mb--md">
        <div class="o-wrapper">
            <header>
                <div class="o-layout">
					<header>
                    	<h1 class="c-heading o-col-12@xs o-col-5@sm">{{ nav.agenda.title }}</h1>
                	</header>
                </div>
            </header>

            <div class="l-feed">
                <div class="o-layout">
                    <div class="o-col-12@xs">
                        <ul class="l-feed--list o-list">
                            <div class="o-layout">
                                <div class="o-col-12@xs">
                                    <li class="l-feed--list__item u-mb--sm"><h2>Prochains évènements<h2></li>
                                </div>
                            </div>
                        {% for entry in entries.orderBy('eventDate ASC').limit(null) if entry.eventDate > now %}
                            <div class="o-layout">
                                <div class="o-col-12@xs">
                                    <li class="l-feed--list__item">
                                        {% include "agenda/_components/list-item"  %}
                                    </li>
                                </div>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="l-feed">
                <div class="o-layout">
                    <div class="o-col-12@xs">
                        <ul class="l-feed--list o-list">
                            <div class="o-layout">
                                <div class="o-col-12@xs">
                                    <li class="l-feed--list__item u-mb--sm"><h2>Archives<h2></li>
                                </div>
                            </div>
                        {% for entry in entries.orderBy('eventDate DESC').limit(null) if entry.eventDate < now %}
                            <div class="o-layout">
                                <div class="o-col-12@xs">
                                    <li class="l-feed--list__item">
                                        {% include "agenda/_components/list-item"  %}
                                    </li>
                                </div>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

                <div class="o-layout">
                    <div class="o-col-12@xs">
                        <a href="{{ siteUrl }}{{ nav.agenda.slug }}">
                            <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Cross" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="More" stroke="#1D1D1B" stroke-width="4">
                                        <g>
                                            <path d="M38,20 C38,10.0571734 29.9426504,2 20.0011461,2 C10.0576686,2 2,10.0568545 2,20 C2,29.9416804 10.0584958,38 20.0011461,38 C29.9418232,38 38,29.9413614 38,20 Z" id="Stroke-1"></path>
                                            <path d="M20,11 L20,29" id="Stroke-3"></path>
                                            <path d="M11,20 L29,20" id="Stroke-5"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
